.register-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #8b5cf6 0%, #ec4899 100%);
}

mat-stepper {
  margin: 0 auto;
  width: 50vh;
  background-color: var(
    --mat-card-elevated-container-color,
    var(--mat-sys-surface-container-low)
  );
  padding: 8px;
  border-radius: 8px;
}

.step-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.step-actions > button.mdc-icon-button {
  scale: 1.8;
}

.mat-stepper-next {
  margin-left: auto;
}

button.submit-button {
  font-size: 24px;
}

@media (max-width: 768px) {
  .register-section {
    padding: 0;
    min-height: 100vh;
    background: var(
      --mat-card-elevated-container-color,
      var(--mat-sys-surface-container-low)
    );
  }
  mat-card {
    width: 100vw;
    min-width: 0;
    max-width: 100vw;
    min-height: 100vh;
  }
  mat-stepper {
    width: 100%;
    height: 80vh;
    border-radius: 0px;
    padding: 0px;
  }

  .step-actions {
    margin-top: 32px;
  }

  .step-actions > button.mdc-icon-button {
    scale: 1.5;
  }
}
