@use "@angular/material" as mat;

:host {
  @include mat.icon-overrides((
      color: #bb86fc,
  ));
}

.mat-mdc-dialog-actions,
.mat-mdc-dialog-content {
  background: #1e1e1e;
}

.mat-mdc-dialog-title {
  display: flex;
  align-items: center;
  padding: 24px 24px 16px 24px;
}
.admin-icon {
  margin-right: 8px;
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.mat-mdc-dialog-content.dialog-content {
  padding: 16px 32px 24px 32px;

  mat-form-field {
    width: 100%;
  }
}

.mat-mdc-dialog-actions {
  padding: 0px 24px 16px 24px;
}
