<form [formGroup]="form()" class="step-form">
  <mat-form-field appearance="outline">
    <mat-label>Hobbies</mat-label>
    <textarea
      matInput
      formControlName="hobbies"
      rows="3"
      placeholder="Tell us about your hobbies and interests"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Motivation for joining IISa Program</mat-label>
    <textarea
      matInput
      formControlName="motivation"
      rows="3"
      placeholder="Tell us why you want to join the program"></textarea>
  </mat-form-field>

  <app-file-upload formControlName="profileImage"></app-file-upload>
</form>
