.step-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 480px;

  /* this is required for the mat-horizontal-content-container */
  padding-top: 16px;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 768px) {
  .step-form {
    height: 55vh;
  }
}
