@use "@angular/material" as mat;

:host {
  @include mat.card-overrides(
    (
      title-text-size: 2rem,
      subtitle-text-size: 1.6rem,
    )
  );

  ::ng-deep .info-card .mat-mdc-card-header-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
}

.charts-grid > :nth-child(3) {
  grid-column: 1 / -1; /* Span full width */
}

.mat-mdc-card-header {
  color: white;
  padding: 32px;
}

article.map-container {
  padding: 16px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .overview-container {
    padding: 16px;
  }

  .charts-grid {
    grid-template-columns: 1fr;
  }
}

// ngx charts
:host {
  ::ng-deep .ngx-charts text {
    fill: white; /* or any light color that contrasts with your dark background */
    //   font-size: 28x;
  }

  g.y.axis g[ngx-charts-y-axis-ticks] {
    font-size: 16px;
  }

  ::ng-deep g[ngx-charts-axis-label] text {
    font-size: 24px;
  }

  ::ng-deep g.tick text {
    font-size: 16px !important;
  }
}
