@use "@angular/material" as mat;

:host {
  @include mat.chips-overrides(
    (
      disabled-label-text-color: orange,
      disabled-outline-color: red,
      container-height: 56px,
      with-icon-icon-size: 32px,
      label-text-size: 24px,
      with-avatar-avatar-size: 32px,
    )
  );

  @include mat.form-field-overrides(
    (
      container-text-size: 28px,
      outlined-label-text-size: 32px,
      outlined-label-text-populated-size : 24px,
      disabled-leading-icon-color: red,
    )
  );
}

.filters-section {
  // align with card padding
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters-row {
  display: flex;
  gap: 16px;
  align-items: center;

  .full-field {
    flex: 1;
    min-width: 200px;
  }

  .filters-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  // required to compensate for mat-form-field
  button {
    margin-bottom: 20px;
  }

  // required to align with mat-form-field
  button.clear-filters-button {
    font-size: 1.5rem;
    height: 3.5rem;
  }

  button.mat-mdc-icon-button {
    scale: 1.8;
    margin-left: auto;
  }
}

.advanced-filters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.filters-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .filters-row,
  .advanced-filters,
  .filters-info {
    flex-direction: column;
    align-items: stretch;
  }

  .search-field {
    min-width: unset;
  }
}
