@use "@angular/material" as mat;

:host {
  @media (min-width: 768px) {
    @include mat.chips-overrides(
      (
        container-height: 56px,
        with-icon-icon-size: 32px,
        label-text-size: 24px,
        with-avatar-avatar-size: 32px,
      )
    );

    @include mat.form-field-overrides(
      (
        container-text-size: 28px,
        outlined-label-text-size: 32px,
        outlined-label-text-populated-size: 24px,
      )
    );

    @include mat.button-overrides(
      (
        outlined-label-text-size: 24px,
        outlined-container-height: 60px,
      )
    );
    @include mat.icon-button-overrides(
      (
        state-layer-size: 80px,
        icon-size: 48px,
      )
    );
  }

  @include mat.chips-overrides(
    (
      container-height: 44px,
      with-icon-icon-size: 32px,
      label-text-size: 16px,
      with-avatar-avatar-size: 32px,
    )
  );
}

.filters-section {
  // align with card padding
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters-row {
  display: flex;
  gap: 16px;
  align-items: center;

  .full-field {
    flex: 1;
    min-width: 200px;
  }

  .filters-actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  // required to compensate for mat-form-field
  button {
    margin-bottom: 20px;
  }

  button.mat-mdc-icon-button mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin-left: auto;
  }
}

.advanced-filters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.advanced-filters {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease,
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &.expanded {
    max-height: 500px; // Adjust as needed
    opacity: 1;
    transform: translateY(0);
  }
}

.mdc-evolution-chip-set {
  margin: 0px;
}

.filters-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .filters-row,
  .advanced-filters,
  .filters-info {
    flex-direction: column;
    align-items: stretch;
  }

  .search-field {
    min-width: unset;
  }
}
