@use "@angular/material" as mat;
:host {
  @include mat.tabs-overrides(
    (
      label-text-size: 32px,
    )
  );
}

.dashboard-container {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 8px;

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }

  .dashboard-title {
    font-size: 2.4rem;
  }
}

.main-content {
  width: 85vw;
  margin: 0 auto;
}

::ng-deep .mat-mdc-tab-group.candidate-tabs .mat-mdc-tab-body {
  padding-top: 32px !important;
}
