::ng-deep .ngx-charts text {
  fill: white; /* or any light color that contrasts with your dark background */
  //   font-size: 28x;
}

g.y.axis g[ngx-charts-y-axis-ticks] {
  font-size: 16px;
}

::ng-deep g[ngx-charts-axis-label] text {
  font-size: 24px;
}

::ng-deep g.tick text {
  font-size: 16px !important;
}
