@use "@angular/material" as mat;

:host {
  @include mat.card-overrides(
    (
      title-text-size: 32px,
      subtitle-text-size: 24px,
    )
  );
}

.candidates-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

mat-card-content {
  padding: 0px;
}

.header-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
