@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.card-overrides(
    (
      title-text-size: 32px,
      subtitle-text-size: 24px,
    )
  );
}

.candidates-container {
  margin: 0 auto;
  padding: 24px;
}

.candidates-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
