@use "@angular/material" as mat;

:host {
  @include mat.card-overrides(
    (
      subtitle-text-size: 1.4rem,
      filled-container-color :#343135
      
    )
  );
}
.candidate-card {
  cursor: pointer;
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;

  &:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(0) scale(0.99);
  }

  .mat-mdc-card-avatar {
    width: 120px;
    height: 120px;

    &.avatar-fallback {
      background-color: #444c56;
    }
  }

  ::ng-deep mat-card-header .mat-mdc-card-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  mat-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
  }
}

// helpers
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.empty-section {
  font-style: italic;
}
