@let data = candidate(); @if(data) {

<mat-card appearance="filled" class="candidate-card" (click)="onCardClick()">
  <mat-card-header>
    @if(data.profileImage) {
    <img
      mat-card-avatar
      [ngSrc]="data.profileImage"
      [alt]="data.fullName"
      width="80"
      height="80" />
    } @else {
    <div mat-card-avatar class="avatar-fallback"></div>
    }

    <mat-card-title>{{ data.fullName }}</mat-card-title>
    <mat-card-subtitle>
      {{ data.city }} • Age {{ data.age }} • {{ data.registeredAt |
      timestampToDate | date : 'MMM dd' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @if (data.motivation) {
    <span class="application-date truncate">{{ data.hobbies }}</span>
    } @else {
    <span class="empty-section">Not specified</span>
    } @if (data.hobbies) {
    <span class="candidate-pitch truncate">{{ data.motivation }}</span>
    } @else {
    <span class="empty-section">Not specified</span>
    }
  </mat-card-content>
</mat-card>

}
