/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.icon-overrides(
    (
      color: #666,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field input[type="number"] {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}
