/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

// TODO: refactor with custom palette
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.icon-overrides(
    (
      color: #666,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-color:#810081,
      filled-label-text-color: white
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field input[type="number"] {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  -moz-appearance: textfield;
}

.skeleton-container {
  background-color: var(
    --mat-card-elevated-container-color,
    var(--mat-sys-surface-container-low)
  );
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
